# clang-format configuration file

BasedOnStyle: Microsoft

# インデント間隔
IndentWidth: 4
TabWidth: 4
UseTab: Never

# 最大の行長(自動改行の基準)
ColumnLimit: 120

# 波括弧の位置について
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: false
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# 空関数のみ一行となることを許可する
AllowShortFunctionsOnASingleLine: Empty

# ポインタの位置を左に指定する
PointerAlignment: Left

# namespace内部をインデントする
NamespaceIndentation: All

# switch文のcaseラベルをインデントする
IndentCaseLabels: true

# includeの順番をアルファベット順にする
SortIncludes: true

# コンストラクタ初期化時にコンマの前で改行せず、インデント幅を4にする
BreakConstructorInitializersBeforeComma: false
ConstructorInitializerIndentWidth: 4

# テンプレート宣言を常に改行する
AlwaysBreakTemplateDeclarations: Yes

# 制御文の前のスペースを揃える
SpaceBeforeParens: ControlStatements

# コメントを整形する
ReflowComments: true

# 解析の基準とするC++
Standard: c++17